html,
body,
#wrapper{
  height: 100% !important;
}

.login{
  background-image: linear-gradient( 109.6deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% );
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    margin: 280px auto;
  
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .filterInput{
    width: 12rem !important;
  }

  ::placeholder{
  font-size: 0.8rem;
}

.card-body{
  padding: 1px !important;
}

.col-form{
  margin-top: 40px;
}

.container-profile{
  padding: 0px !important;
  overflow-x: hidden;
}